.handjet-title {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
  }
  
h1{
    text-align: center;
    color:#FFFDFA
}

h2{
    text-align: left;
    color:#FFFDFA
}

h3{
    text-align: left;
    color:FFFDFA;
    font-family:"Handjet",sans-serif;
}

.gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
  }

#Gura  {
float: right;    
    margin: 0 0 0 15px;
}

#Wink {
float: left;
    margin: -10 -10 -10 -10px
}

#Dooby {
    float: right;
        margin: 20 0 0 0px
    }


.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: "Gloria Hallelujah", cursive;
    }
    
    .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #d49999;
    }
    
    .button1:hover {
    background-color: #000000;
    color: rgb(219, 84, 84);
    }
    
    .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    }
    
    .button2:hover {
    background-color: #008CBA;
    color: white;
    }

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 3; /* change this to whatever height you want it */
}


.blink {
    animation: blinker 4.5s linear infinite;
    color: rgb(255, 255, 255);
    font-family: "Handjet" ,sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
