.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:40%;
}

@font-face {
    font-family: Eight;
    src: url(Asset\Fonts\8bit.woff) format("woff"),
    url(Asset\Fonts\8bit.woff2) format("woff2"),
    url(Asset\Fonts\8bit.ttf) format("truetype"),
    url(Asset\Fonts\8bit.otf) format("opentype");
}

h1 {font-family: Eight;
    text-align: center;}